body {
  /** background-color: lightblue; **/
}

button {
    display: inline-block;
    height: 50px;
    padding: 0;
    margin: 0;
    vertical-align: top;
    width: 100px;
}


#test img {
    background-image: url( '/Graphics/kuba-arrow-button-set-1-300px.png' );
    background-size: auto;
    height: 100px;
    width: 100px;
}

#nav_buttons {
      margin: auto;
      width: 60%;
      /**border: 3px solid black;**/
      padding: 10px;

}

#chart_window {
      margin: auto;
      width: 60%;
      /**border: 3px solid black;**/
      padding: 10px;

}
/**
#prev {
  background-image: url( '../../Graphics/kuba-arrow-button-set-1-300px.png' );
  background-size: 100px 100px;
  height: 100px;
  width: 100px;
}

#next {
  background-image: url ('../../Graphics/kuba-arrow-button-set-2-300px.png');
  background-size: 100px 100px;
  height: 100px;
  width: 100px;
}
**/
